<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />0
  </startup>
  <appSettings>
    <!--<add key="Connstring" value="server=10.89.253.231;database=HYT_Score;uid=SA;pwd=zjl12345^" />-->
    <!--数据库连接串-->
    <!--<add key="sqlConnstring" value="server=10.89.253.231;UId=root;PassWord=123456;Persist Security Info=True;database=AIScore;Charset=utf8;" />-->
    <add key="sqlConnstring" value="server=10.33.3.93;UId=root;PassWord=123456;Persist Security Info=True;database=AIScoreNTest;Charset=utf8;" />

    <!--文件地址 IP\filepath-->
    <add key="filead" value="file://10.89.253.233/audiofile/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>